<html>
  <head>
    <title>Welcome to the NITK IEEE</title>
  </head>
  <body>
  <!-- Navbar -->
    <div>
    <a href="/home"><img src="/static/img/logo.png"></a>
    <hr>
    <a href="/about">About</a>
    <a href="/sig_overview">Special Interest Groups</a>
    <a href="/sight">SIGHT</a>
    <a href="/epics">EPICS</a>
    <a href="/wie">WIE</a>
    <a href="/gini">GINI</a>
    <a href="/general_events">General Events</a>
    <a href="/awards_and_initiatives">Awards and Initiatives</a>
    <a href="/calendar">Calendar</a>
    <a href="/contact">Contact Us</a>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>