{% extends "base.html" %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
	<div align=center>
		<h1>Meet the Circuits and Systems group.</h1>
	</div>
	<p>
	The Circuits and Systems (CAS) group consists of a team of students with a strong interest in the field of Electronics and Electrical Science. There are various seminars and talks organised by this SIG to encourage students to learn and gain more knowledge in their particular field of interest. Diode has contributed greatly to the development of interest in the field of robotics and microcontrollers. Tutorials for microcontroller programming and software like MATLAB and PSpice, are a regular part of Diode's activities. Various sessions held have had eager teams discussing robotics and other intriguing problem statements. The main focus of the CAS is on small projects, a cross-year collaborative effort among all the members that will help in academics and give us an edge when participating in various technical competitions conducted in many prestigious institutes.
	</p>
  </div>
</div>
{% endblock %}