{% extends "base.html" %}
{% block content %}
	<h1>EPICS - Engineering Projects in Community Service</h1>
	<p>
	Community service agencies face a future in which they must take advantage of technology to improve, coordinate, account for, and deliver the services they provide. They need the help of people with strong technical backgrounds. Undergraduate students face a future in which they will need more than solid expertise in their discipline to succeed. They will be expected to work with people of many different backgrounds to identify and achieve goals. They need educational experiences that can help them broaden their skills. The NITK IEEE EPICS group aims at bridging this gap.
	</p>
{% endblock %}