{% extends "base.html" %}
{% block content %}
<div align=center>
	<h1>GINI</h1>
</div>
	<p>
	The Global Integrated Network of IEEE Members (GINI), is an initiative of the Bangalore section to promote collaboration between the student chapters in the section. As a part of the Dakshin Kannada region, NITK IEEE holds a pivotal role of implementing the ideals of GINI, which includes successful collaborations with neighbouring institutes for resource sharing and information interchange. NITK IEEE is the largest student chapter in the Bangalore Section and is the leader of the Mangalore sub-section.
	</p>

	<h3>Goals</h3>
	<ul>
		<li>Organize various technical tutorials, workshops and talks from the industry for the Bangalore section GINI members</li>
		<li>Set up various formal and informal networks within student interest groups and industry experts or professionals</li>
		<li>Collaborate on various engineering and research projects</li>
		<li>Organize technical symposiums at the section and national level</li>
		<li>Increase interactions with other student chapters in the Bangalore section</li>
		<li>Organise events and technical tutorials in student's chapters in the vicinity of NITK for better collaboration</li>
		<li>Strengthen relationship with industry which is supported by interactive sessions on a broad spectrum of technical advancements</li>
	</ul>
{% endblock %}
