{% extends "base.html" %}
{% block content %}
	<h1>SIG Overview</h1>
	<p>
	NITK IEEE student branch has been a thoroughly working non-profit technical organisation of NITK run by enthusiastic, knowledge yearning students for the like-minded people of our institute. It provides an excellent platform and a plethora of opportunities to its student members to develop their professional skills and get identified uniquely in their designated fields of interest. Our prime objective is to enhance the technical skills among students in their realms of interests and help them do their best in it. In order to have this accomplished to the very possible extent NITK IEEE came up with the idea of the so called Special Interest Groups (SIGs) in the year 2007 and since then it has become a very integral and an inseparable part of this society.</p><br>

	<h3>SIG Objectives</h3>
	<ul>
	<li>To pool in all innovative and efficient ideas of all the technical and knowledge enthusiasts of the institute</li>
	<li>To introduce and explore new ideas and concepts in engineering in order to meet the current requirements of the world</li>
	<li>To promote the spirit of learning and sharing knowledge among all students</li>
	<li>To encourage interaction between members and foster team work culture to have all the ideas take shape, the right way</li>
	</ul><br>

	Hit the links below to find out more about each individual SIG!<br>

	<div align=center>
	<a href="/sigs/diode">Diode</a>
	<a href="/sigs/python">Python</a>
	<a href="/sigs/piston">Piston</a>
	</div>
{% endblock %}