{% extends "base.html" %}
{% block content %}
	<h1>Women in Engineering</h1>
	<p>
	The NITK IEEE WIE is a professional organisation dedicated to promoting technical interests among women engineers and scientists. It was launched on February 18th, 2009.
	</p>

	<h3>Mission</h3>
	<p>
	Inspire, engage, encourage, and empower IEEE women student members and facilitate the recruitment and retention of women in technical disciplines globally.
	</p>

	<h3>Vision</h3>
	<p>
	Form a vibrant community of IEEE women and men and use all the diverse technical and innovative talents among them in order to form a better world for tomorrow.
	</p>

	<h3>Goals</h3>
	<ul>
	<li>Recognize women's outstanding achievements in electrical and electronics engineering through IEEE Awards nominations</li>
	<li>Organize receptions at major technical conferences to enhance networking and to promote membership in WIE</li>
	<li>Advocate women in leadership roles in IEEE governance and career advancement for women in the profession</li>
	<li>Provide assistance with the formation of new WIE Affinity Groups and support on going activities</li>
	<li>Promote IEEE member grade advancement for women to the membership grades of Senior Member and Fellow</li>
	<li>Facilitate the development of programs and activities that promote the entry into and retention of women in engineering programs</li>
	<li>Administer the IEEE Student-Teacher and Research Engineer/Scientist (STAR) Program to mentor young women in junior and high schools</li>
	</ul>
{% endblock %}